:host {
    background-color: #000;
    width: max-content;
    color: #FFF;
    padding: 2rem;

    .img-helper {
        img {
            max-width: 8rem;
            display: block;
            margin: 0 auto 4rem;
        }
    }

    .sidenav-itens {
        text-align: center;

        .item {
            text-decoration: none;
            display: block;
            height: 36px;
            text-align: center;
            border-bottom: 0.5px solid;
            font-weight: 200;
            color: #FFF;
            margin-top: 20px;
        }

        .logout {
            margin-top: 1rem;
            cursor: pointer;
        }
    }
}