<main>
    <div class="img-helper">
        <a routerLink="/dashboard">
            <img src="../../../assets/logo vicci branco.png">
        </a>
    </div>
    <nav class="sidenav-itens">
        <a class="item" routerLink="/dashboard">
            Dashboard
        </a>
        <a class="item" routerLink="/feedback">
            Feedback
        </a>
        <a class="item" routerLink="/invite">
            Invite
        </a>
        <a class="item" routerLink="/users">
            Usuários
        </a>
        <a class="item" routerLink="/register">
            Alunos
        </a>
        <a class="item" routerLink="/teachers">
            Professores
        </a>
        <a class="item" routerLink="/equipments">
            Equipamentos
        </a>
        <a class="item" routerLink="/units">
            Unidades
        </a>
        <a class="item" routerLink="/plans">
            Planos
        </a>
        <a class="item" routerLink="/calendar">
            Calendário
        </a>
        <a class="item" routerLink="/restaurant">
            Restaurante
        </a>
        <a class="item" routerLink="/employees">
            Funcionários
        </a>
        <a class="item" routerLink="/performance">
            Desempenho
        </a>
        <a class="item" routerLink="/training">
            Treinos
        </a>
        <mat-icon aria-hidden="false" aria-label="logout" fontIcon="logout" (click)="onLogout()" class="logout">Sair</mat-icon>
    </nav>
</main>
