@if (pendingUsers.length > 0 && currentUser.role === 'Administrador' || currentUser.role === 'Gerente') {
    <mat-list>
        <h3>Usuários pendentes</h3>
      
        <mat-list-item *ngFor="let user of pendingUsers">
            <div mat-line>{{ user.name }}</div>
            <div mat-line>{{ user.email }}</div>
            <div mat-line>Status: {{ user.status }}</div>
            <div mat-line>Aluno convidado: {{ user.studentConvidated || 'Não' }}</div>
            <mat-divider></mat-divider>
      
            <div class="actions-buttons">
                <button mat-raised-button color="primary" (click)="approveUser(user.id, 'Aluno')">Aprovar como aluno</button>
                <button mat-raised-button color="accent" (click)="approveUser(user.id, 'Recepcionista')">Aprovar como colaborador da recepção</button>
                <button mat-raised-button color="warn" (click)="approveUser(user.id, 'Instrutor')">Aprovar como instrutor</button>
                <button mat-raised-button color="primary" (click)="approveUser(user.id, 'Gerente')">Aprovar como gerente</button>
            </div>
        </mat-list-item>
    </mat-list>
} 

<h1>Usuários</h1>

<table mat-table [dataSource]="approvedUsers" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> E-mail </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Função </th>
    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="studentConvidated">
    <th mat-header-cell *matHeaderCellDef> Aluno convidado </th>
    <td mat-cell *matCellDef="let element"> {{element.studentConvidated}} </td>
    </ng-container>

    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row"
            (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            @if (expandedElement === element) {
            <mat-icon>keyboard_arrow_up</mat-icon>
            } @else {
            <mat-icon>keyboard_arrow_down</mat-icon>
            }
        </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <form>
            <div class="fields">
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Nome" #name="ngModel" [ngModel]="element.name" name="name"
                        autocomplete="off" [disabled]="currentUser.role !== 'Administrador' && currentUser.role !== 'Gerente' && currentUser.email !== element.email">
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="E-mail" #email="ngModel" [ngModel]="element.email" name="email"
                        autocomplete="off" [disabled]="currentUser.role !== 'Administrador' && currentUser.role !== 'Gerente' && currentUser.email !== element.email">
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="Senha" #password="ngModel" [ngModel]="element.password" name="password"
                        autocomplete="off" type="password" [disabled]="currentUser.role !== 'Administrador' && currentUser.role !== 'Gerente' && currentUser.email !== element.email">
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Função</mat-label>
                    <mat-select #role="ngModel" [ngModel]="element.role" name="role" [disabled]="currentUser.role !== 'Administrador' && currentUser.role !== 'Gerente'">
                        <mat-option *ngFor="let role of roles" [value]="role">
                        {{ role }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Status</mat-label>
                    <mat-select #status="ngModel" [ngModel]="element.status" name="status" [disabled]="currentUser.role !== 'Administrador' && currentUser.role !== 'Gerente'">
                        <mat-option *ngFor="let item of status_" [value]="item">
                        {{ item }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Aluno convidado</mat-label>
                    <input matInput placeholder="Aluno convidado" #studentConvidated="ngModel" [ngModel]="element.studentConvidated ? element.studentConvidated : 'Não'" name="studentConvidated"
                        autocomplete="off" [disabled]="currentUser.role !== 'Administrador' && currentUser.role !== 'Gerente'" [readonly]="true">
                </mat-form-field>
            </div>
            @if (currentUser.role === 'Administrador' || currentUser.role === 'Gerente') {
                <vicci-button warn (click)="onDelete(element.id)">Excluir</vicci-button>
            }
            @if (currentUser.role === 'Administrador' || currentUser.role === 'Gerente' || currentUser.email === element.email) {
                <vicci-button accent (click)="onSubmit(element.id, name, email, password, role, status)">Salvar</vicci-button>
            }
            </form>
        </div>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === row"
        (click)="expandedElement = expandedElement === row ? null : row">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>