<h2 mat-dialog-title>Adicionar informações ao aluno '{{ student.name }}'</h2>
<mat-dialog-content>
  <form [formGroup]="formStudent">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Contato de emergência</mat-label>
      <input
        matInput
        formControlName="emergency_contact"
        type="text"
        placeholder="Insira o contato"
      />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Celular do contato</mat-label>
      <input
        matInput
        formControlName="phone_number_emergency_contact"
        type="text"
        placeholder="Insira o celular"
        mask="(00)00000-0000"
      />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Endereço residencial</mat-label>
      <input
        matInput
        formControlName="home_address"
        type="text"
        placeholder="Insira o endereço"
      />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Hospital de preferência</mat-label>
      <input
        matInput
        formControlName="preferred_hospital"
        type="text"
        placeholder="Insira o hospital"
      />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Plano de saúde</mat-label>
      <mat-select formControlName="health_plans">
        @for (plan of health_plans; track plan) {
          <mat-option [value]="plan">
            {{ plan }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Restrições/condições de saúde pré existentes</mat-label>
      <mat-select formControlName="medical_restrictions">
        @for (mr of medical_restrictions; track mr) {
          <mat-option [value]="mr">
            {{ mr }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <vicci-button (click)="onSubmit()" accent>Salvar</vicci-button>
  <vicci-button mat-dialog-close>Fechar</vicci-button>
</mat-dialog-actions>
