<h1>Treinos</h1>
<div class="mainDiv">
  <div class="selectStudent">
    <form [formGroup]="formSelectStudent">
      <mat-form-field appearance="outline">
        <mat-select matNativeControl formControlName="student" name="student" placeholder="Selecione">
          <mat-option [value]="student.id" *ngFor="let student of students$ | async" [disabled]="user.role !== 'Administrador' && user.role !== 'Gerente' && student.name !== user.name">
            {{ student.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <vicci-button accent (click)="findStudent()"> Buscar </vicci-button>
  </div>
</div>
<div class="infoDiv">
  @if(studentInfo){
    <div class="studentInfo">
      @if(!studentInfo[0].photo){
      <img src="../../../assets/images/noPhoto.png" class="studentPhoto" />
      } @else {
      <img src="{{ studentInfo[0].photo }}" class="studentPhoto" />
      }
      <h2>{{studentInfo[0].name}}</h2>
    </div>
    <div class="training">
      <div class="trainingItems">
        <div class="items addItem" (click)="openDialog()">
          <div class="add">
            <img src="../../../assets/images/plus.png">
            <p>Adicionar treino</p>
          </div>
        </div>

        @for (trainings of studentTraining; track trainings) {
          <div class="items trainingInfo">
            <h3>{{trainings.name}}</h3>
            <hr />
            @for(training of trainings.exercises; track training) {
              <div class="line">
                <p>Equipamento: </p> <span class="textTraining">{{training.equipment}}</span>
              </div>
              <div class="line">
                <p>Repetições: </p> <span class="textTraining">{{training.reps}}</span>
              </div>
              <div class="line">
                <p>Séries: </p> <span class="textTraining">{{training.sets}}</span>
              </div>
              <div class="line">
                <p>Duração: </p> <span class="textTraining">{{training.duration}}</span>
              </div>
              @if (trainings.exercises.length > 1) {
                <hr />
              }
            }
            <button (click)="onDelete(trainings.id)">Deletar</button>
            <button (click)="onSubmit(trainings)">Editar</button>
          </div>
        }
      </div>
    </div>
  } @else {
    <div class="noInfo">
      <p>Selecione o aluno para ver os treinos</p>
    </div>
  }
</div>