form {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;

    mat-form-field {
        width: 100%;
    }

    .file {
        &:hover {
            span {
                text-decoration: underline;
            }
        }

        label {
            display: flex;
            cursor: pointer;
            color: var(--accent-color);
            justify-content: center;

            mat-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
            }
        }

        input {
            display: none;
        }

        img {
            width: 200px;
        }
    }

}