:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

  .selectStudent {
    display: flex;
    gap: 1rem;

    vicci-button {
      margin-top: 0.5rem;
      width: 10rem;
    }

    mat-select {
      text-align: center;
      font-size: 1.3rem;
      text-transform: capitalize;
    }
  }
}

.infoDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);

  .studentInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 45%;

    h2 {
      text-transform: capitalize;
    }
  }

  vicci-button {
    width: 15rem;
  }

  img.studentPhoto {
    width: 15rem;
    border-radius: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .performance {
    width: 100%;
    margin-top: 2rem;

    h1 {
      text-align: center;
      margin-bottom: 3rem;
    }

    .performanceItems {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      row-gap: 2rem;
      justify-content: space-evenly;
      /*tirar esse e o aspect ratio 8 caso fique melhor do outro jeito*/

      .items {
        background-color: #fff;
        padding: 2rem;
        border-radius: 2rem;
        aspect-ratio: 8;
        cursor: pointer;

        .head {
          font-size: 20px;
          text-align: center;
          margin-bottom: 0.5rem;
        }

        .itemInfo {
          .informationLine {
            display: flex;
            justify-content: space-between;

            p {
              margin-top: 0.5rem;
            }

            span {
              margin-top: 0.5rem;
              font-weight: bold;
            }
          }
        }
      }

      .items.addItem {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--accent-color);
        cursor: pointer;

        .add {
          text-align: center;
          color: #fff;

          img {
            width: 5rem;
          }
        }
      }
    }
  }
}

.noInfo {
  width: 100%;
  text-align: center;

  p {
    color: rgba($color: #000000, $alpha: 0.6);
  }
}
