:host {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;  
    align-items: center;

    .helps-list {
        width: 100%;

        form {
            display: flex;
            flex-direction: column;
        }
    }

    .table-container {
        width: 100%;
        overflow-x: auto;
        margin: 0 auto;

        table {          
            tr.example-detail-row {
                height: 0;
            }
        
            tr.example-element-row:not(.example-expanded-row):hover {
                background: whitesmoke;
                cursor: pointer;
            }
        
            tr.example-element-row:not(.example-expanded-row):active {
                background: #efefef;
            }
        
            .example-element-row td {
                border-bottom-width: 0;
            }
        
            tr.noData {
                td {
                    width: 100%;
                    text-align: center;
                    padding: 2rem;
                    color: rgba(0, 0, 0, 0.6);
                }
            }
        
            .element-detail {
                overflow: hidden;
                display: flex;
        
                form {
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: 1rem;
                    column-gap: 0.5rem;
                    padding-bottom: 1rem;
                    justify-content: flex-end;
                    width: 100%;
        
                    .fields {
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 1rem;
                        align-items: center;
                        justify-items: center;
        
                        mat-form-field,
                        button {
                            width: 100%;
                        }
                    }   
                }
            }
        }
    }
}

vicci-button {
    width: max-content;
}