<h1>Planos</h1>

<vicci-button accent (click)="openDialog()"> Cadastrar plano </vicci-button>

<table mat-table [dataSource]="plans$" multiTemplateDataRows class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Preço </th>
    <td mat-cell *matCellDef="let element"> R${{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="days">
    <th mat-header-cell *matHeaderCellDef> Dias </th>
    <td mat-cell *matCellDef="let element"> {{element.days}} </td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row"
        (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        @if (expandedElement === element) {
        <mat-icon>keyboard_arrow_up</mat-icon>
        } @else {
        <mat-icon>keyboard_arrow_down</mat-icon>
        }
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <form>
          <div class="fields">
            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome" #name="ngModel" [ngModel]="element.name" name="name"
                autocomplete="off">
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Preço</mat-label>
              <input matInput placeholder="Preço" #price="ngModel" [ngModel]="element.price" name="price"
                autocomplete="off">
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Horario</mat-label>
              <input matInput placeholder="Horario" #days="ngModel" [ngModel]="element.days" name="days"
                autocomplete="off">
            </mat-form-field>

          </div>
          <vicci-button warn (click)="onDelete(element.id)">Excluir</vicci-button>
          <vicci-button accent (click)="onSubmit(element.id, name, price, days)">Salvar</vicci-button>
        </form>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === row"
    (click)="expandedElement = expandedElement === row ? null : row">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  <tr class="mat-row noData" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
      Tabela sem dados.
    </td>
  </tr>
</table>