:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

vicci-button {
    width: max-content;
}

.actions-buttons {
    display: flex;
    gap: 8px;
    margin: .5rem 0 2rem;
}
  
mat-list-item {
    margin-bottom: 1rem;
}

table {
    width: 100%;
    max-width: 45rem;
    min-width: unset;

    tr.example-detail-row {
        height: 0;
    }

    tr.example-element-row:not(.example-expanded-row):hover {
        background: whitesmoke;
        cursor: pointer;
    }

    tr.example-element-row:not(.example-expanded-row):active {
        background: #efefef;
    }

    .example-element-row td {
        border-bottom-width: 0;
    }

    .element-detail {
        overflow: hidden;
        display: flex;

        form {
            display: flex;
            flex-wrap: wrap;
            row-gap: 1rem;
            column-gap: 0.5rem;
            padding-bottom: 1rem;
            justify-content: flex-end;
            width: 100%;

            .fields {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;

                mat-form-field {
                    width: 100%;
                }
            }
        }
    }
}