<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" dynamicHeight>
    <mat-tab label="Carboidratos">
        <div class="content">
            <restaurant-carbo />
        </div>
    </mat-tab>
    <mat-tab label="Proteínas">
        <div class="content">
            <restaurant-prot />
        </div>
    </mat-tab>
    <mat-tab label="Omelete Orgânico">
        <div class="content">
            <restaurant-omelet />
        </div>
    </mat-tab>
    <mat-tab label="Mix de Saladas">
        <div class="content">
            <restaurant-salad />
        </div>
    </mat-tab>
    <mat-tab label="Molhos">
        <div class="content">
            <restaurant-sauce />
        </div>
    </mat-tab>
    <mat-tab label="Bebidas">
        <div class="content">
            <restaurant-beverage />
        </div>
    </mat-tab>
</mat-tab-group>