<vicci-button accent (click)="openDialogReserve()"> Reservar refeição </vicci-button>

@if (user.role === 'Administrador' || user.role === 'Gerente') {
  <app-restaurant-reserve />
}

@if (user.role === 'Administrador' || user.role === 'Gerente') {
  <vicci-button accent (click)="openDialog()"> Cadastrar produto </vicci-button>
} 

<mat-tab-group>
  @for (tab of tabs; track tab) {
    <mat-tab [label]="tab.label">
      <table mat-table [dataSource]="tab.content" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Categoria </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
      
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef>Peso</th>
          <td mat-cell *matCellDef="let element"> {{element.weight}}g</td>
        </ng-container>
      
        <ng-container matColumnDef="kcal">
          <th mat-header-cell *matHeaderCellDef>Calorias</th>
          <td mat-cell *matCellDef="let element"> {{element.kcal}}Kcal</td>
        </ng-container>
      
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Preço </th>
          <td mat-cell *matCellDef="let element"> R${{element.price}} </td>
        </ng-container>
      
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="expand row"
              (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
              @if (expandedElement === element) {
              <mat-icon>keyboard_arrow_up</mat-icon>
              } @else {
              <mat-icon>keyboard_arrow_down</mat-icon>
              }
            </button>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <form>
                <div class="fields">
                  <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Nome" #name="ngModel" [ngModel]="element.name" name="name"
                      autocomplete="off" [disabled]="user.role !== 'Administrador' && user.role !== 'Gerente'">
                  </mat-form-field>
      
                  <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Categoria</mat-label>
                    <mat-select #category="ngModel" [ngModel]="element.category" name="category" [disabled]="user.role !== 'Administrador' && user.role !== 'Gerente'">
                      @for (category of productsRestaurantCategories; track category) {
                        <mat-option [value]="category">
                          {{ category }}
                        </mat-option>
                      }                
                  </mat-select>    
                  </mat-form-field>
      
                  <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Peso</mat-label>
                    <input matInput placeholder="Peso" #weight="ngModel" [ngModel]="element.weight" name="weight"
                      autocomplete="off" [disabled]="user.role !== 'Administrador' && user.role !== 'Gerente'">
                  </mat-form-field>
      
                  <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Calorias</mat-label>
                    <input matInput placeholder="Calorias" #kcal="ngModel" [ngModel]="element.kcal" name="kcal"
                      autocomplete="off" [disabled]="user.role !== 'Administrador' && user.role !== 'Gerente'">
                  </mat-form-field>
      
                  <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Preço</mat-label>
                    <input matInput placeholder="Preço" #price="ngModel" [ngModel]="element.price" name="price"
                      autocomplete="off" [disabled]="user.role !== 'Administrador' && user.role !== 'Gerente'">
                  </mat-form-field>
                </div>
                @if (user.role === 'Administrador' || user.role === 'Gerente') { 
                  <vicci-button warn (click)="onDelete(element.id)">Excluir</vicci-button>
                  <vicci-button accent (click)="onSubmit(element.id, name, category, weight, kcal, price)">Salvar</vicci-button>
                }
              </form>
            </div>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === row"
          (click)="expandedElement = expandedElement === row ? null : row">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      
        <tr class="mat-row noData" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            Tabela sem dados.
          </td>
        </tr>
      </table>
    </mat-tab>
  }
</mat-tab-group>