:host{
    display: flex;
    min-height: 100dvh;

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    
    .main {
        padding: 2rem;
        flex:1;
        overflow-y: auto;
    }
}