:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;  
}

vicci-button {
    width: max-content;
}

table {
    width: 100%;
    max-width: 70rem;
    min-width: unset;

    td.imageTable{
        width: 60px;
    }

    td.imageTable img{
        width: inherit;
        aspect-ratio: 1;
        border-radius: 50%;
    }

    tr.example-detail-row {
        height: 0;
    }

    tr.example-element-row:not(.example-expanded-row):hover {
        background: whitesmoke;
        cursor: pointer;
    }

    tr.example-element-row:not(.example-expanded-row):active {
        background: #efefef;
    }

    .example-element-row td {
        border-bottom-width: 0;
    }

    tr.noData {
        td {
            width: 100%;
            text-align: center;
            padding: 2rem;
            color: rgba(0, 0, 0, 0.6);
        }
    }

    .element-detail {
        overflow: hidden;
        display: flex;

        form {
            display: flex;
            flex-wrap: wrap;
            row-gap: 1rem;
            column-gap: 0.5rem;
            padding-bottom: 1rem;
            justify-content: flex-end;
            width: 100%;

            .fields {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                align-items: center;
                justify-items: center;

                mat-form-field,
                button {
                    width: 100%;
                }

                img {
                    margin-inline: auto;
                }
            }

            .file {
                &:hover {
                    span {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

                label {
                    display: flex;
                    align-items: center;
                    column-gap: 0.5rem;
                }

                img {
                    width: 60px;
                }

                input {
                    display: none;
                }
            }
        }
    }
}