<h1>Alunos</h1>

<div class="table-container">

  <table mat-table [dataSource]="studentsFiltered$" multiTemplateDataRows class="mat-elevation-z8">
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Celular </th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>
  
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef> CPF </th>
      <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
    </ng-container>
  
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef> Nascimento </th>
      <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
    </ng-container>
  
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Função </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <ng-container matColumnDef="studentConvidated">
      <th mat-header-cell *matHeaderCellDef> Aluno convidado </th>
      <td mat-cell *matCellDef="let element"> {{element.studentConvidated || 'Não'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row"
          (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          @if (expandedElement === element) {
          <mat-icon>keyboard_arrow_up</mat-icon>
          } @else {
          <mat-icon>keyboard_arrow_down</mat-icon>
          }
        </button>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <form>
            <div class="fields">
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome" #name="ngModel" [ngModel]="element.name" name="name"
                  autocomplete="off" [disabled]="currentUser.role !== 'Administrador' && currentUser.email !== element.email">
              </mat-form-field>
  
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Email" #email="ngModel" [ngModel]="element.email" name="email"
                  autocomplete="off" [disabled]="currentUser.role !== 'Administrador' && currentUser.email !== element.email">
              </mat-form-field>
  
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Senha</mat-label>
                <input type="password" matInput placeholder="Senha" #password="ngModel" [ngModel]="element.password" name="password"
                  autocomplete="off" [disabled]="currentUser.role !== 'Administrador' && currentUser.email !== element.email">
              </mat-form-field>
  
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Celular</mat-label>
                <input type="phoneNumber" matInput placeholder="Celular" #phoneNumber="ngModel" mask="(00)00000-0000"
                  [ngModel]="element.phoneNumber" name="phoneNumber" autocomplete="off" [disabled]="currentUser.role !== 'Administrador' && currentUser.email !== element.email">
              </mat-form-field>
  
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>CPF</mat-label>
                <input matInput placeholder="CPF" #cpf="ngModel" [ngModel]="currentUser.role === 'Administrador' || currentUser.email === element.email ? element.cpf : ''" mask="000.000.000-00" name="cpf"
                  autocomplete="off" [disabled]="currentUser.role !== 'Administrador' && currentUser.email !== element.email">
              </mat-form-field>
  
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Data de nascimento</mat-label>
                <input type="text" matInput placeholder="Data de nascimento" #birthDate="ngModel" mask="00/00/0000"
                  [ngModel]="element.birthDate" name="birthDate" autocomplete="off" [disabled]="currentUser.role !== 'Administrador' && currentUser.email !== element.email">
              </mat-form-field>
  
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Função</mat-label>
                <mat-select #role="ngModel" [ngModel]="element.role" name="role" [disabled]="currentUser.role !== 'Administrador'">
                  <mat-option *ngFor="let role of roles" [value]="role">
                    {{ role }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Tamanho camiseta</mat-label>
                <mat-select #shirtSize="ngModel" [ngModel]="element.shirtSize" name="shirtSize" [disabled]="currentUser.role !== 'Administrador' && currentUser.email !== element.email">
                  <mat-option *ngFor="let size of sizes" [value]="size">
                    {{ size }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Tamanho calça</mat-label>
                <input type="text" matInput placeholder="Tamanho calça" #pantsSize="ngModel" mask="00"
                  [ngModel]="element.pantsSize" name="pantsSize" autocomplete="off" [disabled]="currentUser.role !== 'Administrador' && currentUser.email !== element.email">
              </mat-form-field>

              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Tamanho bermuda</mat-label>
                <input type="text" matInput placeholder="Tamanho bermuda" #shortsSize="ngModel" mask="00"
                  [ngModel]="element.shortsSize" name="shortsSize" autocomplete="off" [disabled]="currentUser.role !== 'Administrador' && currentUser.email !== element.email">
              </mat-form-field>

              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Tamanho calçado fitness</mat-label>
                <input type="text" matInput placeholder="Tamanho calçado fitness" #shoeSize="ngModel" mask="00"
                  [ngModel]="element.shoeSize" name="shoeSize" autocomplete="off" [disabled]="currentUser.role !== 'Administrador' && currentUser.email !== element.email">
              </mat-form-field>

              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Aluno convidado</mat-label>
                <input type="text" matInput placeholder="Aluno convidado" #studentConvidated="ngModel" [ngModel]="element.studentConvidated ? element.studentConvidated : 'Não'" name="studentConvidated"
                  autocomplete="off" [disabled]="currentUser.role !== 'Administrador'">
              </mat-form-field>
  
              <div class="file">
                @if (element.pdf) {
                  <label for="pdfEdit">
                    <div>
                      <a [href]="element.pdf" target="_blank" >Baixar PDF</a>
                    </div>
                  </label>
                }
                @else {
                  <p>Aluno sem pdf</p>
                }
              </div>
  
              @if (currentUser.role === 'Administrador' || currentUser.email === element.email) {
                <div class="file">
                  <label for="photoEditRegister">
                    <div>
                      @if(imagePreview){
                      <img [src]="imagePreview" alt="" srcset="">
                      }@else{
                      <img [src]="element.photo" alt="" srcset="">
                      }
                    </div>
                    <div>
                      <span>Editar imagem</span>
                      <input type="File" (change)="onImageSelected($event.target, element)" id="photoEditRegister"
                        name="photoEditRegister">
                    </div>
                  </label>
                </div>
              }
            </div>
            @if (currentUser.role === 'Administrador') {
              <vicci-button warn (click)="onDelete(element.id, element.photo, element.pdf)">Excluir</vicci-button>
            }
            @if (currentUser.role === 'Administrador' || currentUser.email === element.email) {
              <vicci-button accent
                (click)="onSubmit(element.id, name, email, password, phoneNumber, cpf, birthDate, element.pdf, element.photo, role, shirtSize, pantsSize, shortsSize, shoeSize)">Salvar</vicci-button>
            }
          </form>
        </div>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === row"
      (click)="expandedElement = expandedElement === row ? null : row">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  
    <tr class="mat-row noData" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        Tabela sem dados.
      </td>
    </tr>
  </table>
  
</div>
