<h2 mat-dialog-title>Cadastrar carboidrato</h2>
<mat-dialog-content>
    <form [formGroup]="formBeverage">
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" type="text" id="name" placeholder="Insira o nome">
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Peso</mat-label>
            <input matInput formControlName="weight" type="text" id="weight" placeholder="Insira o peso">
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Calorias</mat-label>
            <input matInput formControlName="kcal" type="text" id="kcal" placeholder="Insira as calorias">
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Preço</mat-label>
            <input matInput formControlName="price" type="text" id="price" placeholder="Insira o preço">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <vicci-button (click)="onSubmit()" accent>Salvar</vicci-button>
    <vicci-button mat-dialog-close>Fechar</vicci-button>
</mat-dialog-actions>