<h1>Feedback alunos</h1>

<vicci-button (click)="openDialog()" accent> Registrar feedback </vicci-button>

@if (currentUser.role === 'Administrador' || currentUser.role === 'Gerente') {
    <table mat-table [dataSource]="feedbacks$" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="student">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.student || 'Anônimo'}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Data da visita </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
    
        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button aria-label="expand row"
                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                @if (expandedElement === element) {
                <mat-icon>keyboard_arrow_up</mat-icon>
                } @else {
                <mat-icon>keyboard_arrow_down</mat-icon>
                }
              </button>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <form>
                        <div class="fields">
                            <mat-form-field subscriptSizing="dynamic">
                                <mat-label>Nome</mat-label>
                                <input matInput placeholder="Nome" #student="ngModel" [ngModel]="element.student || 'Anônimo'" name="student"
                                autocomplete="off" [readonly]="true">
                            </mat-form-field>
                            <mat-form-field subscriptSizing="dynamic">
                                <mat-label>Data de visita</mat-label>
                                <input matInput placeholder="Data de visita" #date="ngModel" [ngModel]="element.date" name="date"
                                autocomplete="off" [readonly]="true">
                            </mat-form-field>
                            <mat-form-field subscriptSizing="dynamic">
                                <mat-label>Avaliação aparelhos</mat-label>
                                <textarea matInput placeholder="Avaliação aparelhos" #rating_appliances="ngModel" [ngModel]="element.rating_appliances" name="rating_appliances" [readonly]="true"></textarea>
                            </mat-form-field>
                            <mat-form-field subscriptSizing="dynamic">
                                <mat-label>Avaliação limpeza</mat-label>
                                <textarea matInput placeholder="Avaliação limpeza" #rating_cleaning="ngModel" [ngModel]="element.rating_cleaning" name="rating_cleaning" [readonly]="true"></textarea>
                            </mat-form-field>
                            <mat-form-field subscriptSizing="dynamic">
                                <mat-label>Avaliação recomendação</mat-label>
                                <textarea matInput placeholder="Avaliação recomendação" #rating_recommendation="ngModel" [ngModel]="element.rating_recommendation" name="rating_recommendation" [readonly]="true"></textarea>
                            </mat-form-field>
                            <mat-form-field subscriptSizing="dynamic">
                                <mat-label>Avaliação atendimento</mat-label>
                                <textarea matInput placeholder="Avaliação atendimento" #rating_service="ngModel" [ngModel]="element.rating_service" name="rating_service" [readonly]="true"></textarea>
                            </mat-form-field>
                            <mat-form-field subscriptSizing="dynamic">
                                <mat-label>Comentário adicional</mat-label>
                                <textarea matInput placeholder="Comentário adicional" #comment="ngModel" [ngModel]="element.comment" name="comment" [readonly]="true"></textarea>
                            </mat-form-field>
                        </div>
                        <vicci-button warn (click)="onDelete(element.id)">Excluir</vicci-button>
                        <!-- <vicci-button accent (click)="onSubmit(element.id, student, date, rating_appliances, rating_cleaning, rating_recommendation, rating_service, comment)">Salvar</vicci-button> -->
                    </form>
                </div>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === row"
            (click)="expandedElement = expandedElement === row ? null : row">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
}
