form {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;

    mat-form-field{
        width: 100%;
    }

    .input-anonimous {
        margin: -1.5rem auto 0 0;

        label {
            margin-left: .5rem;
        }
    }
}