<h2 mat-dialog-title>Criar feedback</h2>

<mat-dialog-content>
    <form [formGroup]="feedbackForm">
        @if (currentUser.role === 'Administrador') {
            <mat-form-field appearance="fill">
                <mat-label>Selecione um aluno</mat-label>
                <mat-select id="student" formControlName="student">
                    @for (student of students$ | async; track student) {
                        <mat-option [value]="student.name">
                            {{ student.name }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        } @else {
            <mat-form-field appearance="fill">
                <mat-label>Aluno</mat-label>
                <input matInput formControlName="student" [value]="anonimous_feedback ? '' : currentUser.name" [readonly]="true" />
            </mat-form-field>
            <div class="input-anonimous">
                <input type="checkbox" id="anonimous_feedback" [checked]="anonimous_feedback" (change)="anonimous_feedback = !anonimous_feedback">
                <label for="anonimous_feedback">Enviar feedback anônimo</label>
            </div>
        }

        <mat-form-field>
            <mat-label>Data da visita à academia</mat-label>
            <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Data da visita à academia">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Avaliação aparelhos</mat-label>
            <textarea
                matInput
                rows="4"
                formControlName="rating_appliances"
                placeholder="Digite o comentário"
            ></textarea>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Avaliação aparelhos</mat-label>
            <textarea
                matInput
                rows="4"
                formControlName="rating_appliances"
                placeholder="Digite o comentário"
            ></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Avaliação limpeza</mat-label>
            <textarea
                matInput
                rows="4"
                formControlName="rating_cleaning"
                placeholder="Digite o comentário"
            ></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Avaliação atendimento</mat-label>
            <textarea
                matInput
                rows="4"
                formControlName="rating_service"
                placeholder="Digite o comentário"
            ></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Recomendação para outros</mat-label>
            <textarea
                matInput
                rows="4"
                formControlName="rating_recommendation"
                placeholder="Digite o comentário"
            ></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Comentário adicional (sugestão, crítica ou apontamentos)</mat-label>
            <textarea
                matInput
                rows="4"
                formControlName="comment"
                placeholder="Digite o comentário"
            ></textarea>
        </mat-form-field>
        
        <vicci-button accent (click)="onSubmit()"> Registrar</vicci-button>
    </form>
</mat-dialog-content>