<div class="main" id="mainModal">
    <div class="hours">
        <div class="header">
            <h2>Dia {{data.day}}</h2>
        </div>

        <div class="body">
            @for(hour of hoursDay; track hour){
                <div class="box-hour">
                    <div class="hour">
                        {{ hour.hours }}h
                    </div>
                    @for (schedule of hour.schedules; track schedule){
                        <div class="schedules" [ngStyle]="{'background-color':  schedule.teacher.color}">
                            <div class="scheduleTeacher">
                                Professor: {{schedule.teacher.name}}
                            </div>
                            <div class="scheduleTeacher">
                                Aluno: {{schedule.student}}
                            </div>
                            <button (click)="onDelete(schedule.id)">Excluir</button>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>