<h2 mat-dialog-title>Criar horário</h2>
<mat-dialog-content>    
    <form [formGroup]="formSchedules">
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Aluno</mat-label>
            <mat-select formControlName="student" name="student">                
                @for (student of students$ | async; track student) {
                    <mat-option [value]="student.name" [disabled]="student.name !== user.name && user.role !== 'Instrutor'">
                        {{ student.name }}
                    </mat-option>                
                }
            </mat-select>            
        </mat-form-field>

        <!-- <mat-radio-group formControlName="listRole" color="primary">
            <mat-radio-button [value]="listRole.ASSOCIATES">Associados</mat-radio-button>
            <mat-radio-button [value]="listRole.CONTRACTORS">Contratados</mat-radio-button>
        </mat-radio-group> -->

        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Professor(a)</mat-label>
            <mat-select formControlName="teacher" name="teacher" (selectionChange)="onTeacherChange($event.value)">
                @for (teacher of teachers; track teacher) {
                    <mat-option [value]="teacher.name" [disabled]="user.role === 'Instrutor' && user.name !== teacher.name">
                        {{ teacher.name }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

        @if (selectedTeacher) {
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Data disponível</mat-label>
                <mat-select formControlName="date" name="date">
                    @for (date of availableDates; track date) {
                        <mat-option [value]="date.toISOString()">{{ date.toLocaleDateString('pt-BR') }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
    
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Horário</mat-label>
                <mat-select formControlName="schedule" name="schedule">
                    @for (schedule of selectedTeacher.schedules; track schedule) {
                        <mat-option [value]="schedule">{{ schedule }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        }
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <vicci-button (click)="onSubmit()" accent>Salvar</vicci-button>
    <vicci-button mat-dialog-close>Fechar</vicci-button>
</mat-dialog-actions>