// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vicci-studio-primary: mat.define-palette(mat.$indigo-palette);
$vicci-studio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$vicci-studio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$vicci-studio-theme: mat.define-light-theme(
  (
    color: (
      primary: $vicci-studio-primary,
      accent: $vicci-studio-accent,
      warn: $vicci-studio-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($vicci-studio-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --accent-color: #241e32;
}

mat-dialog-actions.mat-mdc-dialog-actions {
  padding: 0 1.5rem 1.5rem;
}

mat-dialog-actions {
  row-gap: 0.5rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 0.5rem;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  // color: var(--mat-tab-header-active-label-text-color);
  color: var(--accent-color) !important;
}
.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: var(--accent-color) !important;
}
