<h1>Professores contratados</h1>

<!-- @if (user.role === 'Administrador' || user.role === 'Gerente') {
  <vicci-button (click)="openDialog()" accent> Cadastrar professor contratado</vicci-button>
} -->

<table mat-table [dataSource]="hiredFiltered$" multiTemplateDataRows class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="expertise">
    <th mat-header-cell *matHeaderCellDef> Especialidade</th>
    <td mat-cell *matCellDef="let element"> {{element.expertise}} </td>
  </ng-container>

  <ng-container matColumnDef="weekday">
    <th mat-header-cell *matHeaderCellDef> Dia da semana </th>
    <td mat-cell *matCellDef="let element"> {{element.weekday}} </td>
  </ng-container>

  <ng-container matColumnDef="schedules">
    <th mat-header-cell *matHeaderCellDef> Horário </th>
    <td mat-cell *matCellDef="let element"> {{element.schedules}} </td>
  </ng-container>

  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef> Unidades </th>
    <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row"
        (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        @if (expandedElement === element) {
        <mat-icon>keyboard_arrow_up</mat-icon>
        } @else {
        <mat-icon>keyboard_arrow_down</mat-icon>
        }
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <form>
          <div class="fields">
            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome" #name="ngModel" [ngModel]="element.name" name="name"
                autocomplete="off" [disabled]="user.role !== 'Administrador' && user.role !== 'Gerente' && user.email !== element.email">
            </mat-form-field>
            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Especialidade</mat-label>
              <input matInput placeholder="Especialidade" #expertise="ngModel" [ngModel]="element.expertise"
                name="expertise" autocomplete="off" [disabled]="user.role !== 'Administrador' && user.role !== 'Gerente' && user.email !== element.email">
            </mat-form-field>
            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Horário</mat-label>
              <mat-select #schedules="ngModel" [ngModel]="element.schedules" name="schedules" multiple [disabled]="user.role !== 'Administrador' && user.role !== 'Gerente' && user.email !== element.email">
                @for (time of timeRange; track time) {
                  <mat-option [value]="time">
                    {{ time }}
                  </mat-option>                  
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Dia da semana</mat-label>
              <mat-select #weekday="ngModel" [ngModel]="element.weekday" name="weekday" multiple [disabled]="user.role !== 'Administrador' && user.role !== 'Gerente' && user.email !== element.email">
                @for (day of daysOfWeek; track day) {
                  <mat-option [value]="day">
                    {{ day }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Unidades</mat-label>
              <mat-select #unit="ngModel" [ngModel]="element.unit" name="unit" multiple [disabled]="user.role !== 'Administrador' && user.role !== 'Gerente' && user.email !== element.email">
                @for (unit of units; track unit) {
                  <mat-option [value]="unit.name">
                    {{ unit.name }}
                  </mat-option>                  
                }
              </mat-select>
            </mat-form-field>   
          </div>
          @if (user.role === 'Administrador' || user.role === 'Gerente' || user.email === element.email) {
            <vicci-button accent (click)="onSubmit(element.id, name, expertise, weekday, schedules, unit)">Salvar</vicci-button>
          }
          @if (user.role === 'Administrador' || user.role === 'Gerente') {
            <vicci-button warn (click)="onDelete(element.id)">Excluir</vicci-button>
          }
        </form>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === row"
    (click)="expandedElement = expandedElement === row ? null : row">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>